body {
  font: 16px "Helvetica", sans-serif; 
  margin: 0;
  width: 900px;
  height: 100%;
}

h1 {
  float: right;
    width:97%;
}
#leftcolumn {
    background-color: rgb(219, 219, 219);
    height: 100%;
  float: left;
  width: 25%;
 margin-left: 20px;
 padding: 20px;
  clear: both;
  z-index:2;
}
#education{
  float: left;
  width: 22%;
  margin:20px;
  clear: both;
}
#rightcolumn {
    float: right;
    width:60%;
  margin: 20px;
}
#header {
  text-align: center;
  color: white;
  margin-top: 20px;
  background-color: blue;
  clear: both;
  height: 240px;
  z-index:1;
}
#profile {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 200px;
}
