body {
  font: 16px "Helvetica", sans-serif; 
  margin: 0;
  width: 900px;
  height: 100%;
}

h1 {
  float: right;
    width:97%;
}

#leftcolumn {
    background-color: rgb(219, 219, 219);
  float: left;
  width: 25%;
 margin-left: 20px;
 margin-top: 20px;
 padding: 20px;
  clear: both;
  z-index:2;
}
#education{
  float: left;
  width: 22%;
  margin:20px;
  clear: both;
}
#rightcolumn {
    float: right;
    width:60%;
    padding-top: 20px;
  margin: 20px;
}
#header {
  text-align: center;
  color: white;
  text-shadow: 1px 5px black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgb(46, 97, 54);
  clear: both;
  height: 240px;
  z-index:1;
}
#profile {
  position: absolute;
  top: 40px;
  left: 60px;
  height: 200px;
  border-style: double;
  border-width: 3px;
}
#footer {
    text-align: left;
  margin: 20px;
    clear: both;
    border-top: 1px solid black;
}
.date{
float: right;
}
