html, body {
  font-family:  "Helvetica", sans-serif, 16px;
  margin: 0;
  width: 900px;
  height: 100%;
}
header {
  color: white;
  background color: blue;
}
h1 {
  position: absolute;
  left: 25%;
}
.nav {
  width: 300px;
}
.container {
  display: flex;
}
#profile {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
